---
import {
  GITHUB_OWNER,
  GITHUB_REPO,
  PRODUCTION_BASE_URL,
} from "../../lib/info.js";
import { joinURL } from "ufo";
import { Octokit, type RestEndpointMethodTypes } from "@octokit/rest";

import DefineLocalDate from "../../components/DefineLocalDate.astro";
import Layout from "../../layouts/Layout.astro";

export type Releases =
  RestEndpointMethodTypes["repos"]["listReleases"]["response"]["data"];

const { BASE_URL, GITHUB_TOKEN } = import.meta.env;

async function fetchReleases(): Promise<Releases> {
  const octokit = new Octokit({ auth: GITHUB_TOKEN });

  const allReleases = await octokit.paginate(octokit.rest.repos.listReleases, {
    owner: GITHUB_OWNER,
    repo: GITHUB_REPO,
    per_page: 100,
  });

  return allReleases;
}

const releases = (await fetchReleases()).filter(
  (r) => !r.draft && r.published_at,
);

if (releases.length === 0) {
  throw new Error("No releases found.");
}

const latestRelease = releases[0];
const pastReleases = releases.slice(1);

const schemaData = {
  "@context": "https://schema.org",
  "@type": "ItemList",

  mainEntityOfPage: {
    "@type": "WebPage",
    "@id": joinURL(PRODUCTION_BASE_URL, "versions"),
  },
  url: joinURL(PRODUCTION_BASE_URL, "versions"),

  name: "Live Background Removal Lite Version History",
  alternateName: ["Changelog", "Release Notes", "Software Updates"],
  description:
    "Archive of all official releases for Live Background Removal Lite.",

  image: joinURL(PRODUCTION_BASE_URL, "screenshot.webp"),

  sameAs: `https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}/releases`,

  itemListOrder: "https://schema.org/ItemListOrderDescending",
  numberOfItems: releases.length,

  itemListElement: releases.map((release, index) => ({
    "@type": "ListItem",
    position: index + 1,
    name: `Version ${release.tag_name}`,
    url: joinURL(PRODUCTION_BASE_URL, "versions", release.tag_name),
  })),
};
---

<Layout lang="en" title="Version History - Live Background Removal Lite">
  <Fragment slot="head">
    <DefineLocalDate />
    <meta
      name="description"
      content="Official release archive for Live Background Removal Lite. Access all past versions, release notes, and download links in one place."
    />
    <link rel="canonical" href={joinURL(PRODUCTION_BASE_URL, "versions")} />
    <script type="application/ld+json" set:html={JSON.stringify(schemaData)} />
  </Fragment>

  <main class="white-box">
    <hgroup>
      <h1>Version History</h1>
      <h2>Live Background Removal Lite</h2>
    </hgroup>

    <h2>Latest Release</h2>
    <p id="latest-release">
      <a href={joinURL(BASE_URL, "versions", latestRelease.tag_name)}
        ><strong>{latestRelease.tag_name}</strong>
        (<local-date data-date={latestRelease.published_at}
          ><time datetime={latestRelease.published_at}
            >{latestRelease.published_at}</time
          ></local-date
        >)
      </a>
    </p>

    <nav aria-label="Page navigation">
      <p>
        <a href={joinURL(BASE_URL)}>Back to Top</a>
      </p>
    </nav>

    <hr />

    <h2>Past Versions</h2>
    <ul>
      {
        pastReleases.map((release) => (
          <li>
            <a href={joinURL(BASE_URL, "versions", release.tag_name)}>
              {release.tag_name}
              {/* prettier-ignore */}(
              <local-date data-date={release.published_at}>
                <time datetime={release.published_at}>
                  {release.published_at}
                </time>
              </local-date>
              )
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  ul {
    max-width: 600px;
  }

  #latest-release {
    font-size: 1.25rem;
    margin-left: 2rem;
  }
</style>
