---
// SPDX-FileCopyrightText: 2025-2026 Kaito Udagawa <umireon@kaito.tokyo>
//
// SPDX-License-Identifier: Apache-2.0

import { joinURL, withTrailingSlash } from "ufo";
import { Octokit } from "@octokit/core";
import { paginateRest } from "@octokit/plugin-paginate-rest";

import { defaultContentSecurityPolicy } from "../../lib/csp.mjs";
import { getLatestRelease } from "../../lib/github.mjs";
import { GITHUB_OWNER, GITHUB_REPO, PRODUCTION_BASE_URL, MATRIX_CHATROOM_URL, getAggregateRating } from "../../lib/info.mjs";

const { BASE_URL, PROD } = import.meta.env;
const GITHUB_SHA = import.meta.env.GITHUB_SHA?.trim();

const lang = "ko-kr";

const MyOctokit = Octokit.plugin(paginateRest);
const octokit = new MyOctokit({ auth: import.meta.env.GITHUB_TOKEN });

const latestRelease = await getLatestRelease(octokit);

const aggregateRating = await getAggregateRating();
---

<!doctype html>
<html lang="ko-kr">
<head>
<meta charset="utf-8" />
{ PROD && (<meta http-equiv="Content-Security-Policy" content={defaultContentSecurityPolicy.join(" ")} />) }
<title>Live Background Removal Lite - 한국어</title>
<meta name="description" content="OBS Studio를 위한 게이밍 우선, 고성능, 충돌에 강한 배경 제거입니다." />
<meta name="viewport" content="width=device-width" />
<meta name="revision" content={GITHUB_SHA ?? "undefined"} />
<meta name="github-repo" content="kaito-tokyo/live-backgroundremoval-lite" />
<link rel="icon" type="image/svg+xml" href={joinURL(BASE_URL, "favicon.svg")} />
<link rel="shortcut icon" href={joinURL(BASE_URL, "favicon.ico")} />
<link rel="stylesheet" href={joinURL(BASE_URL, "styles", "global.css")} />
<link rel="preload" as="image" href={joinURL(BASE_URL, "demo.webp")} />
<link rel="canonical" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, lang))} />
<link rel="alternate" hreflang="x-default" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "en"))} />
<link rel="alternate" hreflang="en" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "en"))} />
<link rel="alternate" hreflang="de-de" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "de-de"))} />
<link rel="alternate" hreflang="es-es" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "es-es"))} />
<link rel="alternate" hreflang="fr-fr" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "fr-fr"))} />
<link rel="alternate" hreflang="ja-jp" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ja-jp"))} />
<link rel="alternate" hreflang="ko-kr" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ko-kr"))} />
<link rel="alternate" hreflang="pt-br" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "pt-br"))} />
<link rel="alternate" hreflang="ru-ru" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "ru-ru"))} />
<link rel="alternate" hreflang="zh-cn" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "zh-cn"))} />
<link rel="alternate" hreflang="zh-tw" href={withTrailingSlash(joinURL(PRODUCTION_BASE_URL, "zh-tw"))} />
<script is:inline src={joinURL(BASE_URL, "scripts", "LocalDate.js")}></script>
<script is:inline src={joinURL(BASE_URL, "scripts", "LanguageSwitcher.js")}></script>
</head>
<body id="site-home">

<nav class="language-switcher" aria-label="언어 선택기">
<language-switcher><button lang="en" translate="no">🌐 Language</button></language-switcher>
<script>document.querySelector("nav.language-switcher button")?.addEventListener("click", LanguageSwitcherElement.onClick);</script>
</nav>

<main class="white-box">
<h1>
<img class="lbrl-logo" src={joinURL(BASE_URL, "favicon.svg")} alt="Live Background Removal Lite 로고" width="96" height="96" />
<span>Live Background Removal Lite</span>
</h1>

<section id="about">
<h2>OBS Studio를 위한 게이밍 우선, 고성능, 충돌에 강한 배경 제거</h2>
<p><b>Live Background Removal Lite</b>는 인물 소스의 배경을 제거하도록 설계된 가벼운 OBS 효과 필터 플러그인입니다. 게임 플레이에 영향을 주지 않도록 리소스 사용을 최소화하며, 항상 안정성을 최우선으로 개발합니다.</p>
<p id="rating">⭐️ OBS 포럼에서 {aggregateRating.ratingValue} / 5 ({aggregateRating.reviewCount}개의 {aggregateRating.reviewCount === "1" ? "리뷰" : "리뷰"})로 평가됨 <a href="https://obsproject.com/forum/resources/live-background-removal-lite.2226/" target="_blank" rel="noopener noreferrer">OBS 포럼</a></p>
</section>

<section id="latest-downloads">
<h2>⬇️ 최신 버전 v{latestRelease.tag_name} 다운로드 (<local-date data-date={latestRelease.published_at}><time datetime={latestRelease.published_at}>{latestRelease.published_at}</time></local-date>)</h2>
<ul class="download-links">
<li><a href={`https://github.com/kaito-tokyo/live-backgroundremoval-lite/releases/tag/${latestRelease.tag_name}#:~:text=%2Dwindows%2Dx64.zip`}>Windows</a></li>
<li><a href={`https://github.com/kaito-tokyo/live-backgroundremoval-lite/releases/tag/${latestRelease.tag_name}#:~:text=%2Dmacos%2Duniversal.pkg`}>macOS</a></li>
<li><a href={`https://github.com/kaito-tokyo/live-backgroundremoval-lite/releases/tag/${latestRelease.tag_name}#:~:text=%2Dx86_64%2Dlinux-gnu.deb`}>Ubuntu</a></li>
<li><a href="https://github.com/kaito-tokyo/live-backgroundremoval-lite/tree/main/unsupported/arch">Arch Linux</a></li>
<li><a href="https://github.com/kaito-tokyo/live-backgroundremoval-lite/tree/main/unsupported/flatpak">Flatpak</a></li>
<li><a href="https://github.com/kaito-tokyo/live-backgroundremoval-lite/tree/main/unsupported/fedora">Fedora</a></li>
</ul>
</section>

<section class="material-buttons">
<div class="github-button">
<a href={latestRelease.html_url} target="_blank" rel="noopener noreferrer">
<img src={joinURL(BASE_URL, "github-mark-white.svg")} width="24" height="24" alt="GitHub" />
<span>GitHub에서 보기</span>
</a>
</div>
<div class="matrix-chatroom-button">
<a href={MATRIX_CHATROOM_URL} target="_blank" rel="noopener noreferrer">
<span>Matrix 채팅방 참여</span>
</a>
</div>
</section>

<section id="demo">
<h2>📸 데모</h2>
<div class="demo-container">
<video autoplay loop muted playsinline width="480" height="270" poster={joinURL(BASE_URL, "demo.webp")} aria-label="배경 제거 후 체커보드 패턴이 드러나는 영상">
<source src={joinURL(BASE_URL, "demo-av1.mp4")} type="video/mp4; codecs=av01.0.05M.10" />
<source src={joinURL(BASE_URL, "demo.mp4")} type='video/mp4; codecs="avc1.64001f"' />
</video>
<p class="demo-caption"><em>플러그인이 지저분한 방 배경을 제거하고, OBS 뒤에 설정된 체커보드 패턴을 보여줍니다.</em></p>
</div>
</section>

<hr />

<nav aria-label="설치 및 설정 문서 탐색">
<ul>
<li><a href={`https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}`}>GitHub 저장소</a></li>
<li><a href={withTrailingSlash(joinURL(BASE_URL, "versions"))}>버전 기록</a></li>
<li><a href={withTrailingSlash(joinURL(BASE_URL, lang, "usage"))}>사용법 및 설정</a></li>
</ul>
</nav>
</main>

<footer>
<a href={`https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}/actions/workflows/daily-website-security-check.yml`} target="_blank" rel="noopener noreferrer"><img src={`https://github.com/${GITHUB_OWNER}/${GITHUB_REPO}/actions/workflows/daily-website-security-check.yml/badge.svg`} alt="일일 사이트 보안 검사" /></a>
&copy; 2025-2026 Kaito Udagawa
</footer>

<script defer src="https://static.cloudflareinsights.com/beacon.min.js" data-cf-beacon='{"token":"0df4a48356ba406099ae721158ab230b"}'></script>
</body>
</html>
